.mdListLi {
	padding-inline-start: 0.6em;
}

.mdListUl {
	padding-inline-start: 1.4em;
	list-style-type: disc;
}
.mdListUl .mdListUl {
	list-style-type: circle;
}

.mdListUl .mdListUl .mdListUl {
	list-style-type: square;
}

.mdListOl {
	padding-inline-start: 1.4em;
	list-style-type: decimal;
}

.mdListOl .mdListOl {
	list-style-type: lower-alpha;
}

.mdListOl .mdListOl .mdListOl {
	list-style-type: lower-roman;
}
